<div class="row">
	
	<%= render 'layouts/header' %>
	
	<div class="span12 slaider">Слайдер</div>
	
<div class="span4 lefttext"></br></br><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p></div>
<div class="span8 maintext">
	<h3>Продукция</h3>
	<%= link_to "Концентратор линейного пункта", root_path %></br>
	<%= link_to "Программируемый индустриальный контроллер сигнальной точки ПИК-СТ", root_path %></br>
	<%= link_to "Программируемый индустриальный контроллер сигнальной точки ПИК-СТ", root_path %></br>
	<%= link_to "Программируемый индустриальный контроллер сигнальной точки ПИК-СТ", root_path %></br>
	<%= link_to "Программируемый индустриальный контроллер сигнальной точки ПИК-СТ", root_path %></br>
	<%= link_to "Программируемый индустриальный контроллер сигнальной точки ПИК-СТ", root_path %></br>
	<%= link_to "Программируемый индустриальный контроллер сигнальной точки ПИК-СТ", root_path %></br>
	<%= link_to "Программируемый индустриальный контроллер сигнальной точки ПИК-СТ", root_path %></br>
</div>

<div class="span12 categories">
	<div class ="row">	
		<div class="span4 blue">
			<div class="centerheader">Каталог продукции</div>
			<div class="centerlink bl"><%= link_to "Скачать", root_path %></div>
		</div>
		<div class="span4 green">
			<div class="centerheader">Специализированные индикаторы</div>
			<div class="centerlink gr"><%= link_to "Перейти в раздел", root_path %></div>
		</div>
		<div class="span4 orange">
			<div class="centerheader">Система АПК-ДК</div>
			<div class="centerlink or"><%= link_to "Перейти в раздел", root_path %></div>
		</div>
	</div>
</div>
	
	
	
	<%= render 'layouts/footer' %></div>
