<div class="row">
	
	<div class="span12 header">
		<div class ="row">
<div class="span2"><%= image_tag("logo.png") %></div>
<div class="span2 top"><%= link_to "О компании", root_path, class:"toplink" %></div>
<div class="span2 top"><%= link_to "Решения", reshenia_path, class:"toplink" %></div>
<div class="span2 top"><%= link_to "Продукция", root_path, class:"toplink" %></div>
<div class="span2 top"><%= link_to "Поддержка", root_path, class:"toplink" %></div>
<div class="span2 top"><%= link_to "Контакты", contact_path, class:"toplink" %></div>
	</div>
	</div>
	
	<div class="span12 slaider">Слайдер</div>
	
<div class="span4 lefttext"><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p></div>
<div class="span8 maintext">
	<h3>Решения</h3>
	<p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p><p>Сегодня наша компания работаетнад более тесной интеграциейс системами МПЦ и ДЦ, ставя основной целью наращивание функциональных возможностей современных систем автоматикии телемеханики</p>
</div>


	
	
	<div class="span12 footer">	
		<div class="row">
			<div class="span2">Copyright</br>Все права защищены</div>
			<div class="span2">О компании</br>Проекты</div>
			<div class="span2">Продукция</br>Услуги</div>
			<div class="span2">Контакты</br>Обратная связь</div>
			<div class="span4">
				<input type="text" placeholder="Поиск по сайту">
				<button type="submit" class="btn">Найти</button>
			</div>
		</div>
	<div>
</div>
