<div class="row">
	<%= render 'layouts/header' %>


<div class="span9 offset3 newsearch">
	<div class="newsearchtitle">Новый поиск</div>
	<div class="newsearchfiled"><%= form_tag search_path, :method => :get do %>
		 <%= text_field_tag :search, params[:search] %>
		 <%= submit_tag "Найти", :name => nil, class: "btn" %>
		 <% end %>
		</div>
</div>



<div class="span9 offset3 results">

<span class="resultstitle">Результаты поиска</span>
<% for search in @results %>
	
	<h3><%= search.name %></h3>
	<div><%= sanitize(truncate search.description, :length => 200) %></div>
	<%= link_to "перейти", url_for(search) %>
	</div>
<% end %>

<%= will_paginate @results, :page_links => false %>
</div>

	<%= render 'layouts/footer' %>


