<div class="row">
	<%= render 'layouts/header' %>
	
<div class="span9 offset3 results">


 <%= @search.each do |search| %>
	<div class="result">
	<h3><%= search.name %></h3>
	<span><%= sanitize(truncate search.description, :length => 50) %></span>
	<%= link_to "перейти", url_for(search) %>
	</div>
<% end %>



</div>



	<%= render 'layouts/footer' %>
</div>

