<div class="row">
	<%= render 'layouts/header' %>
	<%= render 'layouts/support_slider' %>
	<div class="span4 lefttext">
		<h3>ИМСАТ: Поддержка</h3>
			<ul class="solutions-list">
			  <% @aids.each do |aid| %>
			    <li><%= link_to aid.name, aid %></li> 
			<% end %>
			</ul>		
	</div>
	
	<%= render 'shared/element', element: @aid %>
	
	<%= render 'layouts/footer' %>
</div>
