<div class="row">
	<%= render 'layouts/header' %>
	<%= render 'layouts/product_slider' %>
	<div class="span4 lefttext">
		<h3>ИМСАТ: Продукция</h3>
			<ul class="solutions-list">
			  <% @products.each do |product| %>
			    <li><%= link_to product.name, product %></li> 
			<% end %>

			</ul>		
	</div>
	
	<% if @product %>
	<div class="span8 maintext">
		<h3><%= @product.name %></h3>
			<p><%= sanitize @product.description %></p>	
	</div>
	<% end %>

	
	<%= render 'layouts/footer' %>
</div>
