<div class="span12 footer">	
	<div class="row">
		<div class="span2">© Имсат 2012</br>Все права защищены</div>
		<div class="span2"><%= link_to "О компании", root_path %>
							</br><%= link_to "Решения", solutions_path %></div>
		<div class="span2"><%= link_to "Продукция", products_path %></br>
							<%= link_to "Поддержка", aids_path %></div>
		<div class="span2"><%= link_to "Контакты", contact_path %></br>
			<%= mail_to "info@realsys.ru", "Обратная связь" %></div>
		<div class="span4">
			<input type="text" placeholder="Поиск по сайту">
			<button type="submit" class="btn">Найти</button>
		</div>
	</div>
<div>

	
	