	<div class="span12 header">
		<div class ="row">
<div class="logo"><%= link_to (root_path) do %>&nbsp<% end %></div>
<div class="top"><%= link_to "О компании", root_path, class:"toplink" %></div>
<div class="top"><%= link_to "Решения", solutions_path, class:"toplink" %></div>
<div class="top"><%= link_to "Продукция", products_path, class:"toplink" %></div>
<div class="top"><%= link_to "Поддержка", support_path, class:"toplink" %></div>
<div class="top"><%= link_to "Контакты", contact_path, class:"toplink" %></div>
	</div>
	</div>
	

