<!DOCTYPE html>
<html>
<head>
  <title>МГП ИМСАТ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ckeditor/init" %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
	<div class="container">

<%= yield %>

	</div>
</body>
</html>
